#root {
  text-align: center;
  width: 100%;
  height: 100%;
}

.join {
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.join-header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.highlight {
  background-color: #7fff7f55 !important;
}
